.interesting {
  background: linear-gradient(to bottom, white 50%, var(--primary) 50%);
  border-bottom: 2px solid var(--primary);
  background-size: 100% 200%;
  background-position: 0 0;
}

.important {
  background: linear-gradient(to bottom, white 50%, gold 50%);
  border-bottom: 2px solid gold;
  background-size: 100% 200%;
  background-position: 0 0;
}

span {
  font-weight: 500;

  transition: background-position 400ms ease;
}

span:hover {
  cursor: pointer;
  background-position: 0 100%;
}

.partcontent {
  text-align: justify;
  line-height: 1.6;
}