.parent>.container>div>span>p>span {

    color: black;
    text-decoration: none;
    background: linear-gradient(to bottom, white 50%, gold 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    transition: background-position 400ms ease;
    border-bottom: 2px solid gold;
    font-weight: 500;

}

.container{
    display: flex;
    flex-direction: column;
}

.container>div>span{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: min-content;
}
.container>div>span>p{
    width: 80%;
}

.container>div>span>img{
    width: 20%;
    height: 100%;
}

.parent {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 100vh;
}

.parent>.container {
    border: none;
    box-shadow: none;
    width:70%;
    height: 100%;
}

.parent>.container>div>span>p>span:hover {
    cursor: pointer;
    background-position: 0 100%;
}

.minimenu {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    gap: 30px;
    padding: 10px;
    background-color: aliceblue;
}




.folder {
    max-width: 50rem;
    width: 25%;
    margin: 1rem auto;
}

.tabs {
    display: flex;
    gap: 5px;
    padding-top: 2rem;
    overflow-x: auto;
    white-space: nowrap;
}

.tab {
    text-transform: uppercase;
    background: var(--background, #f9d877);
    
    border-radius: 6px 6px 0 0;
    padding: 0.4rem 1rem;
    cursor: pointer;
    color: rgb(115, 115, 115);
    filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.05));
    min-width: 6rem;
    position: relative;
    transition: 0.3s, color 0.3s;
    z-index: 1;
}

.tab.active {
    background: white;
    color: black;
    border-color: black;
    border-bottom: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.content {
    border-radius: 0 10px 10px 10px;
    margin-top: -2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 1rem 0 0 0;
    position: relative;
    background: white;
    z-index: 0;
    min-height: 20rem;
}

.content__inner {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    display: none;
    color: black;
}

.content__inner.active {
    display: block;
}